extends layout
block content
    form(method='get' action='/acceptSave')
        p
            label(for='userID') User ID:
            input(type='text', id='userID', name='UserID')
        p
            label(for='postID') Post ID:
            input(type='text', id='PostID', name='PostID')

        p
            label(for='userTitle') Title:
            input(type='text', id='userTitle', name='Title')
        p
            label(for='userBody') Body:
            input(type='text', id='userBody', name='Body')

        input(type='submit', name='Submit')
