doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.middle
      a(href='../createPost') Create Post
      a(href='../Update') Update Post
      a(href='../Delete') Delete Post
    block content
